h1 Contact Me
p If you'd like to get in touch, feel free to send me an email:
p
	svg(class='email__icon' xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
		path(d='M0 3v18h24v-18h-24zm6.623 7.929l-4.623 5.712v-9.458l4.623 3.746zm-4.141-5.929h19.035l-9.517 7.713-9.518-7.713zm5.694 7.188l3.824 3.099 3.83-3.104 5.612 6.817h-18.779l5.513-6.812zm9.208-1.264l4.616-3.741v9.348l-4.616-5.607z')
	span(class='obfuscate')
		span &#x69;&#x6E;
		span &#x58;&#x65;
		span &#x66;&#x6F;
		span &#x35;&#x37;
		span &#x20;
		span &#x79;&#x52;
		span(class='email__separator') &#x5B;
		span &#x7A;&#x54;
		span(class='email__separator') &#x61;&#x74;
		span &#x68;&#x78;
		span(class='email__separator') &#x5D;
		span &#x50;&#x6B;
		span(class='email__separator') &#x20;
		span &#x73;&#x67;
		span &#x6A;&#x6B;
		span &#x33;&#x4A;
		span &#x65;&#x6D;
		span &#x78;&#x6B;
		span &#x6D;&#x69;
		span &#x33;&#x55;
		span &#x6E;&#x67;
		span &#x4D;&#x73;
		span &#x20;
		span &#x43;&#x6C;
		span(class='email__separator') &#x5B;
		span &#x37;&#x6D;
		span(class='email__separator') &#x64;&#x6F;
		span &#x4A;&#x63;
		span(class='email__separator') &#x74;&#x5D;
		span &#x70;&#x4E;
		span &#x20;&#x63;
		span &#x62;&#x6A;
		span &#x6F;&#x6D;
		span &#x68;&#x49;
