h1 Legal Disclosure
p Information in accordance with Section 5 TMG
p
	| Jan-Nick Kemming
	br
	span(class='obfuscate obfuscate--reversed')
		span &#98;
		span &#x72;&#x51;
		span &#48;&#56;
		span &#x31;&#x50;
		span &#x20;&#x2E;
		span &#x71;&#x57;
		span &#114;&#116;
		span &#x33;&#x44;
		span &#115;&#107;
		span &#x74;&#x6C;
		span &#111;&#111;
		span &#x62;&#x6F;
		span &#114;&#98;
		span &#x6B;&#x48;
		span &#108;&#108;
		span &#x48;&#x66;
		span &#101;&#72;
		span &#x72;&#x51;
	br
	span(class='obfuscate obfuscate--reversed')
		span &#103;
		span &#x61;&#x67;
		span &#114;&#117;
		span &#x74;&#x74;
		span &#98;&#109;
		span &#x75;&#x74;
		span &#97;&#72;
		span &#x53;&#x20;
		span &#32;&#53;
		span &#x35;&#x36;
		span &#48;&#51;
		span &#x35;&#x30;
		span &#50;&#50;

h2 Contact Information
p
	| Telephone: 
	span(class='obfuscate obfuscate--reversed')
		span &#x31;&#x38;
		span &#x63;&#x61;
		span &#x35;&#x38;
		span &#x45;&#x42;
		span &#x35;&#x32;
		span &#x72;&#x4E;
		span &#x34;&#x33;
		span &#x43;&#x61;	
		span &#x37;&#x31;
		span &#x61;&#x4C;
		span &#x30;
		span &#x37;&#x54;
	br
	| E-Mail: 
	span(class='obfuscate obfuscate--reversed')
		span &#x6D;&#x6F;
		span &#x56;&#x49;
		span &#x63;&#x2E;
		span &#x77;&#x57;
		span &#x67;&#x6E;
		span &#x4E;&#x70;
		span &#x69;&#x6D;
		span &#x52;&#x6C;
		span &#x6D;&#x65;
		span &#x4B;&#x42;
		span &#x6B;&#x6A;
		span &#x33;&#x47;
		span &#x40;&#x6F;
		span &#x37;&#x63;
		span &#x66;&#x6E;
		span &#x50;&#x63;
		span &#x69;
		span &#x6F;&#x47;
	br
	| Internet address: 
	a(href='https://www.jkemming.com/') https://www.jkemming.com/

	h2 Graphics and Image Sources
p
	| https://iconmonstr.com/
	br
	| https://www.vectorlogo.zone/
	br
	| https://www.wikipedia.org/

	h2 Disclaimer
p
	| Accountability for content
	br
	| The contents of our pages have been created with the utmost care. However, we cannot guarantee the contents' accuracy, 
	| completeness or topicality. According to statutory provisions, we are furthermore responsible for our own content on these web pages. 
	| In this matter, please note that we are not obliged to monitor the transmitted or saved information of third parties, or investigate 
	| circumstances pointing to illegal activity. Our obligations to remove or block the use of information under generally applicable laws 
	| remain unaffected by this as per §§ 8 to 10 of the Telemedia Act (TMG).
p
	| Accountability for links
	br
	| Responsibility for the content of external links (to web pages of third parties) lies solely with the operators of the linked pages. 
	| No violations were evident to us at the time of linking. Should any legal infringement become known to us, we will remove the 
	| respective link immediately.
p
	| Copyright
	br
	| Our web pages and their contents are subject to German copyright law. Unless expressly permitted by law, every form of utilizing, 
	| reproducing or processing works subject to copyright protection on our web pages requires the prior consent of the respective owner 
	| of the rights. Individual reproductions of a work are only allowed for private use. The materials from these pages are copyrighted 
	| and any unauthorized use may violate copyright laws.
