h1 About Me
p
	| Hey there, I'm  Jan-Nick Kemming. I enjoy creating software - be it a backend API, web frontend or even mobile apps. 
	| I do so both at work and in my free time and enjoy learning about and experimenting with new technologies.
p If you'd like to learn more about what I've done so far and the technologies I use, feel free to take a look around!
