-
	var resumeSections = [{
		title: 'Experience',
		entries: [{
			timespan: ['03/2021', 'present'],
			title: 'Professional Developer, Otto'
		},{
			timespan: ['04/2020', '02/2021'],
			title: 'Junior Developer, Otto'
		},{
			timespan: ['10/2019', '03/2020'],
			title: 'Software Engineer, IBM Deutschland R&D'
		}, {
			timespan: ['09/2016', '09/2019'],
			title: 'Corporate Student, IBM Deutschland',
			content: 'Part of the so-called "Duales Studium", which combines a university degree with a series of six internships. These are spread among different areas of IBM, with my main focus being on developmental and architectural job roles.'
		}]
	}, {
		title: 'Education',
		entries: [{
			timespan: ['10/2016', '09/2019'],
			title: 'B.Sc. Business Informatics, DHBW Stuttgart',
			content: 'Business informatics combines IT knowledge with economic aspects to achieve a better understanding of the business world. In addition to that, I focus on software development and architecture topics.',
			grade: '1.5'
		}, {
			timespan: ['08/2008', '06/2016'],
			title: 'High School, Gymnasium Ursulaschule Osnabrück',
			grade: '1.6'
		}]
	}];

h1 My Career
div(class='resume')
	each resumeSection, sectionIndex in resumeSections
		div(class='resume__section')
			h2(class='resume__section-title')= resumeSection.title
			div(class='resume__entries')
				each entry, entryIndex in resumeSection.entries
					div(class='resume-entry')
						if entry.content
							input(class='resume-entry__expander-checkbox' id=`resume-entry-${sectionIndex}-${entryIndex}` type='checkbox')
							label(class='resume-entry__expander key-toggle tooltip-trigger' for=`resume-entry-${sectionIndex}-${entryIndex}` title='Details' tabindex='0')
								svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
										path(d='M5 3l3.057-3 11.943 12-11.943 12-3.057-3 9-9z')
						div(class='resume-entry__header')
							div(class='resume-entry__timespan')= `${entry.timespan[0]} to ${entry.timespan[1]}`
							div(class='resume-entry__title')= entry.title
							if entry.grade
								div(class='resume-entry__grade')= `Final Grade: ${entry.grade}`
						if entry.content
							div(class='resume-entry__content')= entry.content
