-
	var technologySections = [{
		title: 'Frontend',
		technologies: [
			{ title: 'HTML5', icon: `/icons/html5-${locals.buildId}.svg` },
			{	title: 'SASS / SCSS',	icon: `/icons/sass-${locals.buildId}.svg`	},
			{	title: 'JavaScript', icon: `/icons/javascript-${locals.buildId}.svg` },
			{ title: 'TypeScript', icon: `/icons/typescript-${locals.buildId}.svg` },
			{ title: 'React',	icon: `/icons/react-${locals.buildId}.svg` }
		]
	}, {
		title: 'Backend',
		technologies: [
			{ title: 'Java', icon: `/icons/java-${locals.buildId}.svg` },
			{ title: 'Spring', icon: `/icons/spring-${locals.buildId}.svg` },
			{ title: 'Node.js', icon: `/icons/nodejs-${locals.buildId}.svg` },
			{ title: 'Go', icon: `/icons/go-${locals.buildId}.svg` }
		]	
	}, {
		title: 'Databases',
		technologies: [
			{ title: 'PostgreSQL', icon: `/icons/postgresql-${locals.buildId}.svg` },
			{ title: 'MySQL', icon: `/icons/mysql-${locals.buildId}.svg` },
			{ title: 'MongoDB', icon: `/icons/mongodb-${locals.buildId}.svg` }
		]
	}, {
		title: 'Others',
		technologies: [
			{ title: 'Docker', icon: `/icons/docker-${locals.buildId}.svg` },
			{ title: 'Kubernetes', icon: `/icons/kubernetes-${locals.buildId}.svg` },
			{ title: 'Terraform', icon: `/icons/terraform-${locals.buildId}.svg` },
			{ title: 'Kafka', icon: `/icons/kafka-${locals.buildId}.svg` }
		]
	}];

h1 Tools I Use
p
	| This is a collection of programming languages, frameworks and other technologies I currently work with or have used recently.

each technologySection in technologySections
	h2= technologySection.title
	div(class='technologies')
		each technology in technologySection.technologies
			img(class='technology tooltip-trigger tooltip-trigger--clickable' src=technology.icon alt=technology.title title=technology.title tabindex='0')
