// import minimized libraries
@import 'normalize.min';
@import 'fonts.min';

@import 'variables';

// import modules
@import 'content';
@import 'footer';
@import 'navigation';
@import 'profile';
@import 'resume';
@import 'technologies';
@import 'tooltip';

:root {
	box-sizing: border-box;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	line-height: 1.3;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

html {
	height: 100%;
}

body {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
	padding-bottom: 185.6px; // footer height
	overflow-y: scroll;
	background-color: $color-black;
	color: $color-lighten-4;

	&::after {
		position: fixed;
		top: 0;
		right: 0;
		left: 0;
		height: 3px;
		z-index: map-get($z-index, loading-bar);
		background-color: $color-blue;
		content: '';
		transition: opacity $transition-short;
	}
	&:not(.content-loading)::after {
		opacity: 0;
		visibility: hidden;
		transition: opacity $transition-short, visibility 0s linear $transition-short;
	}
	
	@media (prefers-color-scheme: light) {
		background-color: $color-white;
		color: $color-darken-4;
	}
}

.body {
	display: flex;
	flex-grow: 1;
	width: 100%;
	max-width: 1224px;
	padding: 32px 0;

	@media screen and (max-width: 699px) {
		flex-direction: column;
	}
}

.obfuscate--reversed > span {
	direction: rtl;
	unicode-bidi: bidi-override;
}

.obfuscate > span:nth-child(2n) {
	display: inline-block;
	width: 0;
	height: 0;
	overflow: hidden;
}
