.content__wrapper {
	position: relative;
	flex-grow: 1;
}

.content__loading-icon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 40px;
	height: 40px;
	border: 4px solid $color-lighten-2;
	border-top: 4px solid $color-blue;
	border-radius: 50%;
	transform: translate(-50%, -50%);
	transition: opacity $transition-short linear;
	animation: spin 1s linear infinite;

	body:not(.content-changing) & {
		opacity: 0;
		visibility: hidden;
		transition: opacity $transition-short linear, visibility 0s linear $transition-short;
	}
	
	@media (prefers-color-scheme: light) {
		border-right-color: $color-darken-2;
		border-bottom-color: $color-darken-2;
		border-left-color: $color-darken-2;
	}
}

@keyframes spin {
	0% {
		transform: translate(-50%, -50%) rotate(0deg);
	}

	100% {
		transform: translate(-50%, -50%) rotate(360deg);
	}
}

.content {
	padding: 16px 32px 16px 32px;
	transition: opacity $transition-short linear;

	body.content-loading & {
		opacity: 0;
	}

	body.content-changing & {
		display: none;
	}
}

.content h1,
.content h2 {
	line-height: 1;
	font-weight: normal;
}

.content h1 {
	border-bottom: 2px solid $color-lighten-2;
	padding-bottom: 8px;
	font-size: 1.7rem;
	
	@media (prefers-color-scheme: light) {
		border-bottom-color: $color-darken-2;
	}
}

.content h2 {
	font-size: 1.4rem;
}

.content > h1,
.content > h2 {
	margin: 32px 0 16px 0;
}

.content > h1:first-child {
	margin-top: 0;
}

.content p {
	margin: 16px 0;
	font-size: 1rem;
}

.content > p:last-child {
	margin-bottom: 0;
}

.content a {
	display: inline-block;
	margin-bottom: -2px;
	border-bottom: 2px solid transparent;
	color: $color-blue;
	text-decoration: none;
	transition: border-color $transition-short;

	&:hover,
	&:focus {
		outline: none;
		border-color: $color-blue;
	}
}

.content .email__separator {
	color: $color-lighten-3;
	
	@media (prefers-color-scheme: light) {
		color: $color-darken-3;
	}
}

.content .email__icon {
	height: 18px;
	margin-right: 8px;
	vertical-align: bottom;

	& > path {
		fill: currentColor;
	}
}
