.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 32px;
	background-color: $color-lighten-1;
	color: $color-lighten-4;
	
	@media (prefers-color-scheme: light) {
		background-color: $color-darken-4;
	}
}

.footer__section {
	display: flex;
	justify-content: center;

	& + & {
		margin-top: 4px;
	}
}

.footer__divider {
	height: 32px;
}

.footer__item {
	position: relative;
	border-radius: 50%;
	padding: 12px;
	color: $color-lighten-4;
	line-height: 20px;
	transition: background-color $transition-short, color $transition-short;

	& + & {
		margin-left: 16px;
	}

	&:hover,
	&:focus {
		outline: none;
		background-color: $color-lighten-1;
		color: $color-lighten-5;
	}

	& > svg {
		vertical-align: bottom;
		width: 20px;
		height: 20px;

		& > path {
			fill: currentColor;
		}
	}
}

.footer__link {
	margin-bottom: -2px;
	border-bottom: 2px solid transparent;
	color: inherit;
	text-decoration: none;
	transition: border-color $transition-short;

	&:hover,
	&:focus {
		outline: none;
		border-color: $color-lighten-2;
	}
}

.footer__text + .footer__text {
	position: relative;
	margin-left: 20px;

	&::before {
		position: absolute;
		top: 50%;
		left: -10px;
		width: 4px;
		height: 4px;
		border-radius: 50%;
		background-color: $color-lighten-3;
		transform: translate(-50%, -50%);
		content: '';
	}
}
