.nav {
	@media screen and (min-width: 700px) {
		position: relative;
		flex-shrink: 0;
		width: 252px;
		border-right: 2px solid $color-lighten-2;
	
		@media (prefers-color-scheme: light) {
			border-right-color: $color-darken-2;
		}
	}
}

.nav__items {
	@media screen and (max-width: 699px) {
		position: fixed;
		z-index: map-get($z-index, nav-items);
		top: 0;
		left: 0;
		right: 0;
		padding-top: 46px; // nav__toggle height
		background-color: $color-black;
		transition: top $transition-long;

		.nav__toggle-checkbox:not(:checked) ~ & {
			top: -280px; // nav__items height
		}
	
		@media (prefers-color-scheme: light) {
			background-color: $color-white;
		}
	}

	@media screen and (min-width: 700px) {
		width: 250px;

		&.nav__items--sticky {
			position: sticky;
			top: 0;
		}

		&.nav__items--fixed {
			position: fixed;
			top: 0;
		}

		&.nav__items--bottom {
			position: absolute;
			bottom: 0;
		}
	}
}

.nav__item {
	display: block;
	padding: 16px 32px;
	color: inherit;
	font-size: 18px;
	text-decoration: none;
	transition: padding $transition-short, background-color $transition-short, color $transition-short, box-shadow $transition-short;

	&:hover,
	&:focus {
		outline: none;
		padding-left: 40px;
		background-color: $color-lighten-1;
	
		@media (prefers-color-scheme: light) {
			background-color: $color-darken-1;
		}
	}

	@media screen and (max-width: 699px) {
		box-shadow: 5px 0 0 0 transparent inset;
	}

	@media screen and (min-width: 700px) {
		box-shadow: -3px 0 0 0 transparent inset, 2px 0 0 0 transparent;
	}

	& > svg {
		vertical-align: middle;
		width: 20px;
		height: 20px;
		margin-right: 8px;

		& > path {
			fill: currentColor;
		}
	}

	& > span {
		vertical-align: middle;
	}
}

.nav__item--active {
	color: $color-blue;

	@media screen and (max-width: 699px) {
		box-shadow: 5px 0 0 0 $color-blue inset;
	}

	@media screen and (min-width: 700px) {
		box-shadow: -3px 0 0 0 $color-blue inset, 2px 0 0 0 $color-blue;
	}
}

.nav__cover {
	position: fixed;
	z-index: map-get($z-index, nav-cover);
	top: -50%;
	left: -50%;
	right: -50%;
	bottom: -50%;
	background-color: $color-darken-3;
	transition: opacity $transition-long;

	.nav__toggle-checkbox:not(:checked) ~ & {
		opacity: 0;
		visibility: hidden;
		transition: opacity $transition-long, visibility 0s ease $transition-long;
	}

	@media screen and (min-width: 700px) {
		display: none;
	}
}

.nav__toggle-checkbox {
	display: none;
}

.nav__toggle {
	position: fixed;
	z-index: map-get($z-index, nav-toggle);
	top: 0;
	right: 0;
	border-bottom-left-radius: 3px;
	padding: 12px;
	color: inherit;
	cursor: pointer;
	user-select: none;
	line-height: 0;
	transition: background-color $transition-short;

	@media screen and (min-width: 700px) {
		display: none;
	}

	&:hover,
	&:focus {
		outline: none;
		background-color: $color-lighten-1;
	
		@media (prefers-color-scheme: light) {
			background-color: $color-darken-1;
		}
	}
}

.nav__toggle-icon {
	position: relative;
	display: block;
	width: 30px;
	height: 22px;

	& > span {
		position: absolute;
		width: 100%;
		height: 4px;
		border-radius: 3px;
		background-color: currentColor;
	}

	& > span:nth-child(1) {
		transition: transform $transition-long;
	}

	& > span:nth-child(2) {
		top: 9px;
		left: 0;
		transition: left $transition-long, opacity $transition-long;
	}

	& > span:nth-child(3) {
		top: 18px;
		transition: transform $transition-long;
	}

	.nav__toggle-checkbox:checked ~ .nav__toggle > & {
		& > span:nth-child(1) {
			transform: translate(0, 9px) rotate(45deg);
		}

		& > span:nth-child(2) {
			left: 100%;
			opacity: 0;
			visibility: hidden;
			transition: left $transition-long, opacity $transition-long, visibility 0s ease $transition-long;
		}

		& > span:nth-child(3) {
			transform: translate(0, -9px) rotate(-45deg);
		}
	}
}
