.profile {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 32px;

	@media screen and (max-width: 599px) {
		flex-direction: column;
	}
}

.profile__image {
	width: 160px;
	height: 160px;
	border: 2px solid;
	border-radius: 50%;
	border-color: $color-lighten-2;
	background-color: $color-lighten-1;
	
	@media (prefers-color-scheme: light) {
		border-color: $color-darken-2;
		background-color: $color-darken-1;
	}
}

.profile__text {
	@media screen and (max-width: 599px) {
		margin-top: 16px;
	}

	@media screen and (min-width: 600px) {
		margin-left: 32px;
	}
}

.profile__title {
	@media screen and (max-width: 599px) {
		font-size: 2rem;
	}

	@media screen and (min-width: 600px) {
		font-size: 2.4rem;
	}
}

.profile__subtitle {
	position: absolute;
	font-size: 1.2rem;
}
