.resume {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -16px -16px -16px;
}

.resume__section {
	flex: 1 1 350px;
	padding: 16px;
}

.resume__section-title {
	margin: 0 0 16px 0;
}

.resume__entries {
	display: flex;
	flex-wrap: wrap;
	margin: -8px -16px -16px;
}

.resume-entry {
	position: relative;
	width: 100%;
	padding: 16px;
}

.resume-entry__expander-checkbox {
	display: none;
}

.resume-entry__expander {
	position: absolute;
	top: 8px;
	right: 8px;
	border-radius: 50%;
	padding: 12px;
	color: inherit;
	line-height: 0;
	cursor: pointer;
	user-select: none;
	transition: background-color $transition-short, color $transition-short;

	&:hover,
	&:focus {
		outline: none;
		background-color: $color-lighten-1;
	
		@media (prefers-color-scheme: light) {
			background-color: $color-darken-1;
		}
	}

	& > svg {
		vertical-align: bottom;
		width: 18px;
		height: 18px;
		transform: rotate(-180deg);
		transition: transform $transition-short;

		.resume-entry__expander-checkbox:checked ~ & {
			transform: rotate(-270deg);
		}

		& > path {
			fill: currentColor;
		}
	}
}

.resume-entry__header {
	padding-right: 54px; // expander width + 12px border
}

.resume-entry__title {
	margin-top: 4px;
	font-size: 1.1rem;
}

.resume-entry__grade {
	margin-top: 4px;
}

.resume-entry__content {
	margin-top: 4px;
	border-left: 4px solid $color-lighten-2;
	padding: 4px 0 0 8px;
	transition: opacity $transition-short;

	.resume-entry__expander-checkbox:not(:checked) ~ & {
		height: 0;
		margin: 0;
		padding: 0;
		opacity: 0;
		visibility: hidden;
		transition: opacity 0s;
	}
	
	@media (prefers-color-scheme: light) {
		border-left-color: $color-darken-2;
	}
}
