.technologies {
	display: flex;
	flex-wrap: wrap;
	margin: -8px;
}

.technology {
	height: 40px;
	width: 40px;
	margin: 8px;
	filter: drop-shadow(0 0 4px $color-lighten-2);
	transition: transform $transition-long, filter $transition-long;

	&:hover,
	&:focus {
		outline: none;
		transform: scale(1.2);
		filter: drop-shadow(0 0 8px $color-lighten-3);
	
		@media (prefers-color-scheme: light) {
			filter: none;
		}
	}
	
	@media (prefers-color-scheme: light) {
		filter: none;
	}
}
