.tooltip {
	position: absolute;
	z-index: map-get($z-index, tooltip);
	border-radius: 3px;
	padding: 8px;
	background-color: $color-lighten-4;
	color: $color-darken-4;
	font-size: 0.8rem;
	cursor: default;
	animation: fadeIn $transition-short;
	
	@media (prefers-color-scheme: light) {
		background-color: $color-darken-4;
		color: $color-lighten-4;
	}
}

.tooltip--fade-out {
	opacity: 0;
	visibility: hidden;
	animation: fadeOut $transition-short;
}

.tooltip--fixed {
	position: fixed;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadeOut {
	0% {
		opacity: 1;
		visibility: visible;
	}

	100% {
		opacity: 0;
	}
}
