/**
 * colors
 */
$color-blue: #1E88E5;
$color-white: #FFF;
$color-black: #111;

$color-lighten-1: rgba(255, 255, 255, 0.05);
$color-lighten-2: rgba(255, 255, 255, 0.2);
$color-lighten-3: rgba(255, 255, 255, 0.6);
$color-lighten-4: rgba(255, 255, 255, 0.8);
$color-lighten-5: rgba(255, 255, 255, 0.9);

$color-darken-1: rgba(0, 0, 0, 0.05);
$color-darken-2: rgba(0, 0, 0, 0.1);
$color-darken-3: rgba(0, 0, 0, 0.5);
$color-darken-4: rgba(0, 0, 0, 0.8);

/**
 * transitions
 */
$transition-short: 0.15s;
$transition-long: 0.3s;

/**
 * z-indexes
 */
$z-index: (
	loading-bar : 8,
	nav-cover   :  9,
	nav-items   : 10,
	nav-toggle  : 11,
	tooltip     : 20
);
