-
	var navItems = [{
		title: 'Home',
		name: 'home',
		path: '/',
		icon: 'M12 9.185l7 6.514v6.301h-3v-5h-8v5h-3v-6.301l7-6.514zm0-2.732l-9 8.375v9.172h7v-5h4v5h7v-9.172l-9-8.375zm12 5.695l-12-11.148-12 11.133 1.361 1.465 10.639-9.868 10.639 9.883 1.361-1.465z'
	}, {
		title: 'Resume',
		name: 'resume',
		path: '/resume',
		icon: 'M11.362 2c4.156 0 2.638 6 2.638 6s6-1.65 6 2.457v11.543h-16v-20h7.362zm.827-2h-10.189v24h20v-14.386c0-2.391-6.648-9.614-9.811-9.614zm4.811 13h-3v-1h3v1zm0 2h-3v1h3v-1zm0 3h-10v1h10v-1zm-5-6h-5v4h5v-4z'
	}, {
		title: 'Technologies',
		name: 'technologies',
		path: '/technologies',
		icon: 'M16.25 6c.414 0 .75.336.75.75v9.5c0 .414-.336.75-.75.75h-9.5c-.414 0-.75-.336-.75-.75v-9.5c0-.414.336-.75.75-.75h9.5zm2.75 0c0-1.104-.896-2-2-2h-11c-1.104 0-2 .896-2 2v11c0 1.104.896 2 2 2h11c1.104 0 2-.896 2-2v-11zm-11 14v3h-1v-3h1zm4 0v3h-1v-3h1zm2 0v3h-1v-3h1zm-4 0v3h-1v-3h1zm6 0v3h-1v-3h1zm-8-20v3h-1v-3h1zm4 0v3h-1v-3h1zm2 0v3h-1v-3h1zm-4 0v3h-1v-3h1zm6 0v3h-1v-3h1zm4 15h3v1h-3v-1zm0-4h3v1h-3v-1zm0-2h3v1h-3v-1zm0 4h3v1h-3v-1zm0-6h3v1h-3v-1zm-20 8h3v1h-3v-1zm0-4h3v1h-3v-1zm0-2h3v1h-3v-1zm0 4h3v1h-3v-1zm0-6h3v1h-3v-1z'
	}, {
		title: 'Contact',
		name: 'contact',
		path: '/contact',
		icon: 'M0 3v18h24v-18h-24zm6.623 7.929l-4.623 5.712v-9.458l4.623 3.746zm-4.141-5.929h19.035l-9.517 7.713-9.518-7.713zm5.694 7.188l3.824 3.099 3.83-3.104 5.612 6.817h-18.779l5.513-6.812zm9.208-1.264l4.616-3.741v9.348l-4.616-5.607z'
	}];
	var footerLinks = [{
		title: 'LinkedIn',
		link: 'https://www.linkedin.com/in/jan-nick-kemming',
		icon: 'M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z'
	}, {
		title: 'Xing',
		link: 'https://www.xing.com/profile/JanNick_Kemming',
		icon: 'M14.887 24l-5.324-9.667 8.07-14.333h4.933l-8.069 14.333 5.27 9.667h-4.88zm-7.291-19h-4.939l2.768 4.744-4.115 7.256h4.914l4.117-7.271-2.745-4.729z'
	}, {
		title: 'GitLab',
		link: 'https://gitlab.com/jkemming',
		icon: 'M23.955,13.587l-1.342-4.133L19.95,1.263c-0.138-0.422-0.732-0.422-0.87,0l-2.66,8.191H7.581L4.919,1.262 c-0.137-0.422-0.733-0.422-0.87,0L1.388,9.454l-1.343,4.133c-0.123,0.377,0.012,0.79,0.333,1.022L12,23.055l11.624-8.445 C23.943,14.377,24.077,13.964,23.955,13.587z'
	}, {
		title: 'GitHub',
		link: 'https://github.com/jkemming',
		icon: 'M12 0c-6.626 0-12 5.373-12 12 0 5.302 3.438 9.8 8.207 11.387.599.111.793-.261.793-.577v-2.234c-3.338.726-4.033-1.416-4.033-1.416-.546-1.387-1.333-1.756-1.333-1.756-1.089-.745.083-.729.083-.729 1.205.084 1.839 1.237 1.839 1.237 1.07 1.834 2.807 1.304 3.492.997.107-.775.418-1.305.762-1.604-2.665-.305-5.467-1.334-5.467-5.931 0-1.311.469-2.381 1.236-3.221-.124-.303-.535-1.524.117-3.176 0 0 1.008-.322 3.301 1.23.957-.266 1.983-.399 3.003-.404 1.02.005 2.047.138 3.006.404 2.291-1.552 3.297-1.23 3.297-1.23.653 1.653.242 2.874.118 3.176.77.84 1.235 1.911 1.235 3.221 0 4.609-2.807 5.624-5.479 5.921.43.372.823 1.102.823 2.222v3.293c0 .319.192.694.801.576 4.765-1.589 8.199-6.086 8.199-11.386 0-6.627-5.373-12-12-12z'
	}];

doctype html
html(lang='en')
	head
		title= data.title
		meta(charset='utf-8')
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		if data.meta
			if data.meta.description
				meta(name='description' content=data.meta.description)
			if data.meta.keywords
				meta(name='keywords' content=data.meta.keywords)
		link(href=`/base-${buildId}.css` rel='stylesheet')
	body
		header(class='profile')
			img(class='profile__image' src=`/images/profile-${buildId}.png` alt='Jan-Nick Kemming')
			div(class='profile__text')
				div(class='profile__title') Jan-Nick Kemming
				div(class='profile__subtitle') // developer & tech enthusiast

		div(class='body')
			div(class='nav')
				input(class='nav__toggle-checkbox' id='nav-toggle' type='checkbox')
				label(class='nav__toggle key-toggle tooltip-trigger tooltip-trigger--fixed' for='nav-toggle' title='Navigation' tabindex='0')
					span(class='nav__toggle-icon')
						span
						span
						span
				nav(class='nav__items nav__items--sticky')
					each navItem in navItems
						a(class=`internal nav__item nav__item--${navItem.name} ${data.navItemActive === navItem.name ? 'nav__item--active' : ''}` href=navItem.path)
							svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
								path(d=navItem.icon)
							span= navItem.title
				label(class='nav__cover' for='nav-toggle')
			div(class='content__wrapper')
				div(class='content__loading-icon')
				main(class='content')
					block content

		footer(class='footer')
			div(class='footer__section')
				each footerLink in footerLinks
					a(class='footer__item tooltip-trigger' title=footerLink.title href=footerLink.link target='_blank' ref='noopener noreferrer')
						svg(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24')
							path(d=footerLink.icon)
			div(class='footer__divider')
			div(class='footer__section')
				a(class='footer__text footer__link internal' href='/impressum') Impressum
				span(class='footer__text') Copyright &copy; 2019
			if version
				div(class='footer__section')
					span(class='footer__text') Version #{version}
		script(src=`/base-${buildId}.js`)
